.env
azure_aoe
.vscode
db_testing.py
import_secrets.py
__pycache__
test_adls2.py
test_upload_file.txt
setup_commands
.vscode
db_testing_2.py
df_trans.py
aoe_azure.egg-info
tree.py
DIRECTORY_TREE.md
setup.py